.analytics__wrapper {
	max-width: 544px;
	padding: 32px 16px 10px;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.analytics__wrapper {
		max-width: 688px;
	}
}
@media (min-width: 1024px) {
	.analytics__wrapper {
		max-width: 920px;
	}
}
@media (min-width: 1280px) {
	.analytics__wrapper {
		max-width: 1220px;
	}
}
