.news__headlines {
	display: none;
	flex-direction: column;
}
.news__headlines_visible {
	display: flex;
}
@media (min-width: 768px) {
	.news__headlines {
		flex-direction: row;
		justify-content: space-between;
	}
}
