.header__link_white {
	flex-direction: column;
	color: #ffffff;
}
.header__link_white::after {
	content: '';
	border-bottom: 3px solid #ffffff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
