@import url(./__wrapper/search__wrapper.css);
@import url(./__title/search__title.css);
@import url(./__subtitle/search__subtitle.css);
@import url(./__form/search__form.css);
@import url(./__text/search__text.css);
@import url(./__btn/search__btn.css);

.search {
	background-image: url(../../images/image.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
